body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.navbar {
    width: 100%;
    height: 70px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1f3c88;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.hero {
    background: url('kota_bogor.webp') center/cover no-repeat;
    height: 450px;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 40px;
    position: relative;
}

.logo {
    width: 2rem;
}

.nav-title h3 {
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.nav-title span {
    margin: 0;
    color: #dce3ff;
    font-size: 12px;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 5rem;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-menu li a:hover {
    color: #9bbcff;
}
.hero {
    background: linear-gradient(
        rgba(0, 0, 0, 0.55), 
        rgba(0, 0, 0, 0.55)
    ),url('../kota-bogor.png') center/cover no-repeat;
    height: 310px;
    color: white;
    padding: 120px 60px 40px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hero-desc {
    font-size: 16px;
    margin: 15px 0 25px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    text-align: center;
    width: 100%;
    height: 100%;
}

.highlight {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    max-width: 820px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    margin: 30px auto;
}

.highlight h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
    color: #111;
}

.highlight .text span {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
    display: block;
    margin-bottom: 14px;
}

.img-berita {
    width: 100%;
    height: 260px;
    border-radius: 10px;
    overflow: hidden;
}

.img-berita img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

